## Deliverable 2. Create a Customer Travel Destinations Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,trairi,BR,2022-05-25 23:15:15,-3.2778,-39.2689,76.80,87,76,7.94,broken clouds,0.0,0
1,1,dunedin,NZ,2022-05-25 23:15:15,-45.8742,170.5036,44.80,60,66,4.00,broken clouds,0.0,0
2,2,saint-philippe,RE,2022-05-25 23:15:16,-21.3585,55.7679,71.19,77,6,4.79,clear sky,0.0,0
3,3,hobart,AU,2022-05-25 23:10:32,-42.8794,147.3294,47.26,94,20,6.91,few clouds,0.0,0
4,4,kapaa,US,2022-05-25 23:15:16,22.0752,-159.3190,82.38,70,40,13.80,scattered clouds,0.0,0

In [35]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 60
What is your desired maximum temperature for your trip? 90

In [36]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,trairi,BR,2022-05-25 23:15:15,-3.2778,-39.2689,76.80,87,76,7.94,broken clouds,0.0,0
2,2,saint-philippe,RE,2022-05-25 23:15:16,-21.3585,55.7679,71.19,77,6,4.79,clear sky,0.0,0
4,4,kapaa,US,2022-05-25 23:15:16,22.0752,-159.3190,82.38,70,40,13.80,scattered clouds,0.0,0
5,5,vaini,TO,2022-05-25 23:15:17,-21.2000,-175.2000,82.56,74,40,8.05,scattered clouds,0.0,0
6,6,rikitea,PF,2022-05-25 23:15:18,-23.1203,-134.9692,74.93,75,20,3.00,light rain,0.0,0
7,7,hualmay,PE,2022-05-25 23:15:18,-11.0964,-77.6139,64.71,81,53,7.81,broken clouds,0.0,0
8,8,la libertad,EC,2022-05-25 23:15:19,-2.2333,-80.9000,69.46,88,100,11.50,overcast clouds,0.0,0

In [40]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                     0
City                        0
Country                     0
Date                        0
Lat                         0
Lng                         0
Max Temp                    0
Humidity                    0
Cloudiness                  0
Wind Speed                  0
Current Description         0
Rain inches (last 3 hrs)    0
Snow inches (last 3 hrs)    0
dtype: int64

In [41]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,trairi,BR,2022-05-25 23:15:15,-3.2778,-39.2689,76.80,87,76,7.94,broken clouds,0.0,0
2,2,saint-philippe,RE,2022-05-25 23:15:16,-21.3585,55.7679,71.19,77,6,4.79,clear sky,0.0,0
4,4,kapaa,US,2022-05-25 23:15:16,22.0752,-159.3190,82.38,70,40,13.80,scattered clouds,0.0,0
5,5,vaini,TO,2022-05-25 23:15:17,-21.2000,-175.2000,82.56,74,40,8.05,scattered clouds,0.0,0
6,6,rikitea,PF,2022-05-25 23:15:18,-23.1203,-134.9692,74.93,75,20,3.00,light rain,0.0,0
7,7,hualmay,PE,2022-05-25 23:15:18,-11.0964,-77.6139,64.71,81,53,7.81,broken clouds,0.0,0
8,8,la libertad,EC,2022-05-25 23:15:19,-2.2333,-80.9000,69.46,88,100,11.50,overcast clouds,0.0,0

In [42]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,trairi,BR,76.80,broken clouds,-3.2778,-39.2689,
2,saint-philippe,RE,71.19,clear sky,-21.3585,55.7679,
4,kapaa,US,82.38,scattered clouds,22.0752,-159.3190,
5,vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,
6,rikitea,PF,74.93,light rain,-23.1203,-134.9692,
7,hualmay,PE,64.71,broken clouds,-11.0964,-77.6139,
8,la libertad,EC,69.46,overcast clouds,-2.2333,-80.9000,

In [43]:

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

In [44]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$',  regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,trairi,BR,76.80,broken clouds,-3.2778,-39.2689,janelas do mar
2,saint-philippe,RE,71.19,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
4,kapaa,US,82.38,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
6,rikitea,PF,74.93,light rain,-23.1203,-134.9692,People ThankYou
7,hualmay,PE,64.71,broken clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
8,la libertad,EC,69.46,overcast clouds,-2.2333,-80.9000,Playa Canela Hotel Boutique

In [45]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [46]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [47]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))